.header {
  position: sticky;
  top: 0;
  &.open {
    .overlay,
    .header__menu {
      visibility: visible;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    opacity: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient($darkBlue, transparent);
  }

  nav {
    padding-top: rem(17);
    padding-bottom: rem(17);
    position: relative;
    background-color: $white;
  }

  &__logo {
    width: rem(141);
    height: rem(22);
  }

  &__toggle {
    > span {
      display: block;
      width: rem(26);
      height: rem(2);
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: rem(3) rem(1);

      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: rem(46);
      }

      &:hover {
        color: $darkBlue;
        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        height: rem(5);
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    }
  }

  &__menu {
    position: absolute;
    padding: rem(26) 0;
    left: rem(17);
    right: rem(17);
    margin-top: rem(17);
    border-radius: rem(5);

    background-color: $white;

    > a {
      display: block;
      padding: rem(10) 0;
      color: $darkBlue;
    }
  }
}
